In [2]:
import numpy as np
import pandas as pd

In [17]:
# Environment Impact: E
# Usage and Relevance: U
# Cost and Business Impact: C

# Define the column names
columns = ['Energy Efficiency Rating (E)',
           'Resource Consumption (E)',
           'Data Center Location (E)',
           'Maintenance Cost (C)',
           'Obsolete Functionality (U)',
           'Redundancy (U)',
           'Low Usage (U)',
           'User Impact (C)',
           'Business Value (C)',
           'Compliance and Regulatory (U)'
           ]

# Create an empty dataframe with the specified columns
df = pd.DataFrame(columns=columns)

# generate random data for the dataframe of 0 or 1 for each column
for i in range(300):
    # Generate random data for the dataframe of 0 or 1 for each column
    np.random.seed(42)
    random_values = np.random.randint(0, 2, size=(300, len(columns)))

    # Create a new dataframe with the random values
    df = pd.DataFrame(random_values, columns=columns)

# Print the dataframe
df

,Energy Efficiency Rating (E),Resource Consumption (E),Data Center Location (E),Maintenance Cost (C),Obsolete Functionality (U),Redundancy (U),Low Usage (U),User Impact (C),Business Value (C),Compliance and Regulatory (U)
0,0,1,0,0,0,1,0,0,0,1
1,0,0,0,0,1,0,1,1,1,0
2,1,0,1,1,1,1,1,1,1,1
3,0,0,1,1,1,0,1,0,0,0
4,0,0,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...
295,1,0,1,1,1,0,0,0,0,0
296,0,0,1,1,1,0,0,0,0,0
297,1,1,0,0,0,0,1,0,0,0
298,0,1,0,0,1,1,1,0,0,1
299,1,1,1,1,1,0,0,0,1,1

In [18]:
# based on df, we can calculate the total score for each row
# Total Score = sum of all columns
df['Total Score'] = df.sum(axis=1)
df

,Energy Efficiency Rating (E),Resource Consumption (E),Data Center Location (E),Maintenance Cost (C),Obsolete Functionality (U),Redundancy (U),Low Usage (U),User Impact (C),Business Value (C),Compliance and Regulatory (U),Total Score
0,0,1,0,0,0,1,0,0,0,1,3
1,0,0,0,0,1,0,1,1,1,0,4
2,1,0,1,1,1,1,1,1,1,1,9
3,0,0,1,1,1,0,1,0,0,0,4
4,0,0,1,1,1,1,1,0,1,1,7
...,...,...,...,...,...,...,...,...,...,...,...
295,1,0,1,1,1,0,0,0,0,0,4
296,0,0,1,1,1,0,0,0,0,0,3
297,1,1,0,0,0,0,1,0,0,0,3
298,0,1,0,0,1,1,1,0,0,1,5
299,1,1,1,1,1,0,0,0,1,1,7

In [19]:
#rank the rows based on the total score
df = df.sort_values(by='Total Score', ascending=False)
df

,Energy Efficiency Rating (E),Resource Consumption (E),Data Center Location (E),Maintenance Cost (C),Obsolete Functionality (U),Redundancy (U),Low Usage (U),User Impact (C),Business Value (C),Compliance and Regulatory (U),Total Score
2,1,0,1,1,1,1,1,1,1,1,9
9,1,1,1,1,1,1,1,1,1,0,9
269,1,0,1,1,1,1,1,1,1,1,9
98,1,1,1,0,1,1,1,1,1,1,9
23,1,1,1,1,1,1,1,1,0,1,9
...,...,...,...,...,...,...,...,...,...,...,...
117,1,0,0,0,0,0,0,1,0,0,2
148,0,0,1,0,0,0,0,0,0,0,1
13,1,0,0,0,0,0,0,0,0,0,1
106,0,0,0,0,1,0,0,0,0,0,1
242,0,0,0,0,0,0,0,0,0,0,0

In [21]:
# rank the rows based on the total score and sequence of columns (column 0 is the most important and column 9 is the least important)
df['Total Score'] = df['Energy Efficiency Rating (E)'] + df['Resource Consumption (E)'] + df['Data Center Location (E)'] + df['Maintenance Cost (C)'] + df['Obsolete Functionality (U)'] + df['Redundancy (U)'] + df['Low Usage (U)'] + df['User Impact (C)'] + df['Business Value (C)'] + df['Compliance and Regulatory (U)']
df = df.sort_values(by='Total Score', ascending=False)
df

,Energy Efficiency Rating (E),Resource Consumption (E),Data Center Location (E),Maintenance Cost (C),Obsolete Functionality (U),Redundancy (U),Low Usage (U),User Impact (C),Business Value (C),Compliance and Regulatory (U),Total Score
269,1,0,1,1,1,1,1,1,1,1,9
23,1,1,1,1,1,1,1,1,0,1,9
98,1,1,1,0,1,1,1,1,1,1,9
9,1,1,1,1,1,1,1,1,1,0,9
2,1,0,1,1,1,1,1,1,1,1,9
...,...,...,...,...,...,...,...,...,...,...,...
117,1,0,0,0,0,0,0,1,0,0,2
148,0,0,1,0,0,0,0,0,0,0,1
13,1,0,0,0,0,0,0,0,0,0,1
106,0,0,0,0,1,0,0,0,0,0,1
242,0,0,0,0,0,0,0,0,0,0,0

In [30]:
# create new column as TARGET and assign 1 if the total score is greater than 6, otherwise 0 and I want only the top 100 rows based on the total score to be 1 if the TARGET count is more than 100
# df['TARGET'] = np.where(df['Total Score'] > 6, 1, 0)
# df['TARGET'] = np.where(df['TARGET'].cumsum() > 100, 0, df['TARGET'])
df['Total Score'] = df['Energy Efficiency Rating (E)'] + df['Resource Consumption (E)'] + df['Data Center Location (E)'] + df['Maintenance Cost (C)'] + df['Obsolete Functionality (U)'] + df['Redundancy (U)'] + df['Low Usage (U)'] + df['User Impact (C)'] + df['Business Value (C)'] + df['Compliance and Regulatory (U)']
df = df.sort_values(by='Total Score', ascending=False).reset_index(drop=True)

# create new column as TARGET and assign 1 if the total score is greater than 6, otherwise 0 and I want only the top 100 rows based on the total score to be 1 if the TARGET count is more than 100
df['TARGET'] = np.where((df['Total Score'] > 5) & (df.index <= 100), 1, 0)
df

,Energy Efficiency Rating (E),Resource Consumption (E),Data Center Location (E),Maintenance Cost (C),Obsolete Functionality (U),Redundancy (U),Low Usage (U),User Impact (C),Business Value (C),Compliance and Regulatory (U),Total Score,TARGET
0,1,0,1,1,1,1,1,1,1,1,9,1
1,1,1,1,1,1,1,1,1,1,0,9,1
2,1,0,1,1,1,1,1,1,1,1,9,1
3,1,1,1,0,1,1,1,1,1,1,9,1
4,1,1,1,1,1,1,1,1,0,1,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,0,0,0,0,0,0,1,0,0,2,0
296,0,0,1,0,0,0,0,0,0,0,1,0
297,1,0,0,0,0,0,0,0,0,0,1,0
298,0,0,0,0,1,0,0,0,0,0,1,0
299,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
df['TARGET'].value_counts()

TARGET
0    202
1     98
Name: count, dtype: int64

In [31]:
df.to_csv('data.csv', index=False)

In [32]:
df.columns

Index(['Energy Efficiency Rating (E)', 'Resource Consumption (E)',
       'Data Center Location (E)', 'Maintenance Cost (C)',
       'Obsolete Functionality (U)', 'Redundancy (U)', 'Low Usage (U)',
       'User Impact (C)', 'Business Value (C)',
       'Compliance and Regulatory (U)', 'Total Score', 'TARGET'],
      dtype='object')